@charset "UTF-8";
/*normal*/
.l-header {
  width: 100%;
  position: fixed;
}
.l-header p {
  width: 100%;
  background-color: rgba(224, 224, 224, 0.8784313725);
}

.p-slider {
  width: 100%;
  overflow: hidden;
}
.p-slider__box {
  width: 100%;
}
.p-slider__item {
  height: 500px;
  width: 960px;
  max-width: 960px;
}
.p-slider__img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.p-slider__box .slick-slide:not(.slick-center) {
  opacity: 0.5;
}

.p-slider__box .slick-slide.slick-center {
  opacity: 1;
}

.p-slider__item {
  margin: 0 auto;
}

.arrowsNav {
  margin-top: -25px;
  margin-bottom: 50px;
  text-align: center;
}

.arrowsP {
  display: inline-block;
  margin-right: 250px;
  border-bottom: solid 2px #000;
  border-left: solid 2px #000;
  width: 26px;
  height: 26px;
  transform: rotate(45deg);
  z-index: 900;
  cursor: pointer;
}
.arrowsP:hover {
  border-bottom: solid 2px #999999;
  border-left: solid 2px #999;
}

.arrowsN {
  display: inline-block;
  border-top: solid 2px #000;
  border-right: solid 2px #000;
  width: 26px;
  height: 26px;
  transform: rotate(45deg);
  z-index: 900;
  cursor: pointer;
}
.arrowsN:hover {
  border-top: solid 2px #999999;
  border-right: solid 2px #999999;
}

.slick-prev::before {
  content: "" !important;
}

.slick-next::before {
  content: "" !important;
}

.slide-dots {
  margin: 0;
  padding: 0;
  text-align: center;
}

.slide-dots li {
  display: inline-block;
  margin: 0 10px;
}

.slide-dots li button {
  position: relative;
  text-indent: -9999px;
}

.slide-dots li button::before {
  background-color: #999;
  content: "";
  cursor: pointer;
  height: 20px;
  width: 20px;
  border-radius: 30px;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 24px;
}

.slide-dots li.slick-active button::before {
  background-color: #000;
}

button {
  background: none;
  border: none;
  outline: none;
  padding: 0 10px;
}

@media screen and (max-width: 1100px) {
  /* SP style */
  .p-slider {
    width: 100%;
    overflow: hidden;
  }
  .p-slider__box {
    width: 100%;
  }
  .p-slider__item {
    height: 50vw;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  .p-slider__img {
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .slide-dots li button::before {
    height: 15px;
    width: 15px;
  }
  button {
    padding: 0 5px;
  }
  .p-sidebar {
    display: none;
  }
  .l-headerPc {
    display: none;
  }
  .l-header {
    position: fixed;
    z-index: 999;
    width: 100%;
    background-color: #FFF;
  }
  .l-header__ttl {
    height: 30px;
    line-height: 30px;
    width: 100%;
    font-size: 10px;
    font-family: sans-serif;
    vertical-align: middle;
    letter-spacing: 0.1em;
    text-align: center;
    background-color: rgba(224, 224, 224, 0.8784313725);
    font-weight: normal;
  }
  .l-header__box {
    display: flex;
    padding: 0 25px;
    align-items: center;
    justify-content: space-between;
    border-bottom: 0.2px solid rgba(125, 125, 125, 0.8784313725);
    height: 100px;
    width: 100%;
  }
  .l-header__box a {
    text-decoration: none !important;
  }
  .l-header__cartLink {
    margin-right: 5px;
  }
  .l-header__cart {
    margin-right: 5px;
    width: 28px;
    height: 28px;
  }
  .l-header__cartText {
    display: block;
    text-align: center;
    margin-top: 2px;
    height: 10px;
    color: #000;
    background: none;
    font-size: 9px;
    font-weight: 600;
    font-family: sans-serif;
  }
  .l-header__logo {
    width: 180px;
    height: auto;
  }
  .p-menuBtn {
    width: 48px;
    height: 25px;
  }
  .p-menuBtn span {
    width: 22px;
    height: 1.6px;
    background-color: #000;
    border-radius: 5px;
    position: relative;
    transition: ease 0.4s; /*ハンバーガーメニュークリック時の三本線の動きを遅延*/
    display: block;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
  }
  .p-menuBtn span:nth-child(1) {
    top: 0;
  }
  .p-menuBtn span:nth-child(2) {
    margin: 7px 0;
  }
  .p-menuBtn span:nth-child(3) {
    top: 0;
  }
  .p-menuBtn span:nth-child(4) {
    margin-top: 8px;
    width: 48px;
    height: 10px;
    background: none;
    font-size: 9px;
    font-weight: 600;
    font-family: sans-serif;
  }
  /* アニメーション前のメニューの状態 */
  .p-menu {
    position: fixed;
    top: 0;
    overflow: scroll;
    left: -100vw;
    transition: all 0.3s linear;
  }
  /* アニメーション後のメニューの状態 */
  .p-menu.is-active {
    position: fixed;
    top: 0;
    overflow: scroll;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
  }
  .p-menu {
    background: #E1E1E1;
  }
  .p-menu__exit {
    display: inline-block;
    position: -webkit-sticky;
    position: sticky;
    font-size: 25px;
    left: 30px;
    top: 25px;
    font-weight: bold;
    z-index: 999;
  }
  .p-menu__wrap {
    padding: 50px 10px 50px;
  }
  .p-menu__section {
    width: 90%;
    max-width: 700px;
    margin: 0 auto;
  }
  .p-menu__section2 {
    width: 90%;
    max-width: 800px;
    margin: 0 auto;
  }
  .p-menu__heading {
    width: 70%;
    margin: 50px auto;
    text-align: center;
    position: relative;
  }
  .p-menu__heading::before {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    content: "";
    display: block;
    z-index: 1;
    width: 100%;
    height: 1px;
    background-color: #444444;
  }
  .p-menu__heading h2 {
    display: inline-block;
    position: relative;
    font-size: 22px;
    letter-spacing: 3px;
    padding: 0 20px;
    text-align: center;
    color: #444444;
    background-color: #E1E1E1;
    z-index: 2;
  }
  .p-menu__hello {
    text-align: center;
    font-size: 12px;
    margin: 10px auto;
    color: #444444;
  }
  .p-menu__form {
    height: 100%;
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
  }
  .p-menu__form p {
    font-size: 12px;
    line-height: 20px;
    margin-bottom: 3px;
  }
  .p-menu__form input {
    padding: 10px;
    border: none;
    width: 100%;
    height: 45px;
  }
  .p-menu__form button {
    white-space: nowrap;
    border: none;
    width: 30%;
    height: 45px;
  }
  .p-menu__flex {
    display: flex;
    justify-content: space-between;
  }
  .p-menu__flexItem {
    width: 49%;
  }
  .p-menu__inputR {
    border-radius: 5px;
  }
  .p-menu__search {
    overflow: hidden;
    border-radius: 5px;
  }
  .p-menu__search button {
    color: #FFF;
    background-color: #000;
  }
  .p-menu__login input {
    margin-bottom: 10px;
  }
  .p-menu__listTtl {
    text-align: center;
    margin: 60px 0 10px 0;
    font-size: 3vmin;
  }
  .p-menu__list {
    list-style: none;
    margin-bottom: 50px;
  }
  .p-menu__list li {
    border-bottom: 1px dotted #a9a9a9;
  }
  .p-menu__list li a {
    display: block;
    color: #444444;
    width: 100%;
    line-height: 30px;
    text-decoration: none;
    padding-left: 20px;
    font-size: 12px;
  }
  .p-menu__list li:first-child {
    border-bottom: 1px solid #a9a9a9;
  }
  .p-menu__list li:first-child p {
    margin: 18px auto;
    color: #696969;
    font-size: 15px;
    font-weight: lighter;
  }
  .p-menu__list li:last-child {
    border-bottom: none;
  }
  .p-menu__inquiryBtn {
    margin-top: 10px;
  }
  .p-menu__inquiryBtn a {
    font-size: 15px;
  }
  .l-main {
    padding-top: 130px;
    width: 100%;
  }
  .p-mainArea {
    margin: 0 auto;
    width: 95%;
  }
  .p-mainArea__news {
    width: 100%;
  }
  .p-mainArea__news p {
    color: #A52A2A;
    line-height: 50px;
    border-bottom: 1px solid #000;
    font-size: 18px;
    font-family: sans-serif;
    font-weight: normal;
  }
  .p-mainArea__newsList {
    line-height: 50px;
    list-style: none;
  }
  .p-mainArea__newsList li {
    position: relative;
    box-sizing: content-box;
    border-top: 1px solid #D0D0D0;
    border-bottom: 1px dotted #D0D0D0;
  }
  .p-mainArea__newsList li:first-child {
    border-top: none;
  }
  .p-mainArea__newsList a {
    display: block;
    width: 100%;
    height: 100%;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-decoration: none;
    color: #000;
  }
  .p-mainArea__newsList a div {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    transform: rotate(45deg);
  }
  .p-mainArea__newsList a:hover {
    background-color: #DCDCDC;
  }
  .p-grandMenu__list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .p-grandMenu__list li {
    width: 49%;
    aspect-ratio: 1;
    margin-bottom: 2%;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .p-grandMenu__list li:hover {
    opacity: 0.5;
  }
  .p-grandMenu__list li:nth-child(4n) {
    margin-right: 0;
  }
  .p-grandMenu__list li:nth-child(1) {
    background-image: url(../assets/bg_kurowassan.jpg);
  }
  .p-grandMenu__list li:nth-child(2) {
    background-image: url(../assets/bg_rusk.jpg);
  }
  .p-grandMenu__list li:nth-child(3) {
    background-image: url(../assets/bg_pie.jpg);
  }
  .p-grandMenu__list li:nth-child(3) p {
    padding-top: 10px;
  }
  .p-grandMenu__list li:nth-child(4) {
    background-image: url(../assets/bg_gift.jpg);
  }
  .p-grandMenu__list li:nth-child(5) {
    background-image: url(../assets/bg_sandwich.jpg);
  }
  .p-grandMenu__list li:nth-child(6) {
    background-image: url(../assets/bg_sandwich.jpg);
  }
  .p-grandMenu__list li:nth-child(7) {
    background-image: url(../assets/bg_sandwich.jpg);
  }
  .p-grandMenu__list li a {
    width: 100%;
    height: 100%;
    -ms-writing-mode: tb-rl;
        writing-mode: vertical-rl;
    text-orientation: mixed;
    text-decoration: none;
    text-shadow: 1px 1px 2px #000;
    font-family: serif;
    font-size: 5vw;
    font-weight: bold;
    display: flex;
    align-items: center;
    color: #FFF;
  }
  .p-grandMenu__list li a p {
    padding-top: 7vw;
  }
  .p-grandMenu__list li a small {
    padding-top: 7wv;
    font-size: 3vw;
    opacity: 0.8;
    font-weight: none;
  }
  .l-footer {
    padding-top: 20px;
    border-top: 2px solid #000;
  }
  .l-footer__nav ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
  }
  .l-footer__nav ul li {
    display: inline-block;
    width: 50%;
    border-bottom: 1px solid #000;
    background-color: #D0D0D0;
  }
  .l-footer__nav ul li:nth-child(-n+2) {
    border-top: 1px solid #000;
  }
  .l-footer__nav ul li:nth-child(-2n+5) {
    border-right: 1px solid #000;
  }
  .l-footer__nav ul li:last-child {
    width: 100%;
  }
  .l-footer__nav ul a {
    display: flex;
    padding: 0 20px;
    width: 100%;
    height: 100%;
    line-height: 45px;
    font-size: 12px;
    color: #000;
    text-decoration: none;
  }
  .l-footer__copyright {
    padding: 12px;
    font-size: 11px;
    font-weight: bold;
    text-align: center;
    letter-spacing: 2px;
  }
}
@media screen and (max-width: 600px) {
  .slide-dots li button::before {
    height: 10px;
    width: 10px;
  }
  button {
    padding: 0 3px;
  }
  .arrowsP {
    margin-right: 200px;
    width: 22px;
    height: 22px;
  }
  .arrowsN {
    width: 22px;
    height: 22px;
  }
  .p-menu__wrap {
    padding: 10px 10px 50px;
  }
  .p-menu__heading {
    margin: 30px auto;
  }
  .p-menu__heading::before {
    display: none;
  }
  .p-menu__heading h2 {
    display: block;
    font-size: 18px;
    letter-spacing: 3px;
    text-align: center;
    color: #444444;
    background-color: #E1E1E1;
    z-index: 2;
  }
  .p-menu__list li a {
    line-height: 40px;
  }
  .p-menu__list li:last-child {
    border-bottom: none;
  }
  .p-menu__searchBtn {
    margin-bottom: 20px;
  }
  .p-menu__section {
    width: 100%;
  }
  .p-menu__section2 {
    width: 100%;
  }
  .p-menu__flex {
    width: 100%;
    display: block;
  }
  .p-menu__flexItem {
    width: 100%;
  }
  .p-mainArea__boxList {
    margin: 40px 0 60px 0;
    display: flex;
    flex-wrap: wrap;
  }
  .p-mainArea__boxList li {
    list-style: none;
    width: 49%;
    aspect-ratio: 1/0.3;
    margin: 0 2% 2% 0;
  }
  .p-mainArea__boxList li:nth-child(2n) {
    margin-right: 0;
  }
  .p-mainArea__boxList li:hover {
    opacity: 0.5;
  }
  .p-mainArea__boxList li:nth-child(1) {
    background-color: #996666;
  }
  .p-mainArea__boxList li:nth-child(2) {
    background-color: #CCCC99;
  }
  .p-mainArea__boxList li:nth-child(3) {
    background-color: #CC6633;
  }
  .p-mainArea__boxList li:nth-child(4) {
    background-color: #999999;
  }
  .p-mainArea__boxList li a {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    height: 100%;
    width: 100%;
  }
  .p-mainArea__boxList li a p {
    color: #FFF;
    text-align: center;
    font-family: serif;
    font-size: 4vw;
  }
  .p-mainArea__boxList li:first-child a p {
    font-size: 3.5vw;
  }
  .c-secBox {
    overflow: hidden;
  }
  .c-secBox__headline {
    width: 100%;
    display: inline-block;
    text-align: center;
    margin: 15px auto;
  }
  .c-secBox__headline h3 {
    width: 300px;
    line-height: 33px;
    font-size: 22px;
    font-family: serif;
    letter-spacing: 0.05em;
    display: inline-block;
    font-weight: 200;
    text-align: center;
  }
  .c-secBox__headline small {
    width: 100%;
    display: inline-block;
    border-top: 1px solid #000;
    font-size: 15px;
    letter-spacing: 0.3em;
  }
  .p-features__list {
    width: 100%;
  }
  .p-features__list li {
    position: relative;
    list-style: none;
    width: 100%;
    margin: 2% 0;
  }
  .p-features__list li a:hover {
    opacity: 0.5;
  }
  .p-features__list li img {
    width: 100%;
    height: 150px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .p-features__list li p {
    position: absolute;
    width: 100%;
    bottom: 0;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.813);
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    font-family: serif;
    font-weight: bold;
  }
  .p-features__list li p span {
    font-size: 13px;
    display: block;
    text-align: center;
    font-weight: 100;
    font-family: none;
  }
  .c-secBox__headline {
    width: 100%;
    display: inline-block;
    font-size: 22px;
    font-family: serif;
    font-weight: bold;
    text-align: center;
    margin: 15px auto;
  }
  .c-secBox__headline h3 {
    width: 300px;
    line-height: 33px;
    letter-spacing: 0.05em;
    display: inline-block;
    text-align: center;
  }
  .c-secBox__headline small {
    width: 100%;
    display: inline-block;
    border-top: 1px solid #000;
    font-size: 12px;
    letter-spacing: 0.3em;
  }
  .l-footer {
    width: 100%;
  }
  .l-footer__address {
    margin: 0 auto;
    padding: 30px 0 5px;
    width: 90%;
    height: auto;
    border: 1px solid #000;
    border-radius: 10px;
  }
  .l-footer__address h3 {
    display: block;
    padding: 15px;
    text-align: center;
    font-size: 5vmin;
    font-weight: bold;
    letter-spacing: 5vmin;
  }
  .l-footer__address p {
    margin: 5px 0;
    padding: 0 15px;
    line-height: 18px;
  }
  .l-footer__address p::before {
    content: "";
    display: inline-block;
    background-image: url(../assets/mappin.png);
    width: 18px;
    height: 18px;
    margin: auto 10px auto 0;
    background-size: 18px 18px;
  }
  .l-footer__address img {
    width: 100%;
  }
  .l-footer__inquiry {
    margin: 80px auto;
    padding: 30px 10px 20px;
    width: 90%;
    height: auto;
    border: 1px solid #000;
    border-radius: 10px;
    position: relative;
  }
  .l-footer__inquiry h3 {
    width: 200px;
    line-height: 30px;
    position: absolute;
    text-align: center;
    top: -15px;
    left: 50%;
    transform: translateX(-50%);
    display: inline-block;
    border: 1px solid #000;
    border-radius: 30px;
    background-color: #FFF;
  }
  .l-footer__inquiry p {
    margin: 5px 0;
    font-size: 12px;
    line-height: 20px;
  }
  .l-footer__inquiryNo {
    display: block;
    margin: 10px auto;
    text-align: center;
    color: #000;
    text-decoration: none;
    font-weight: bold;
    font-size: 35px;
  }
  .l-footer__inquiryNo img {
    width: 40px;
    padding-right: 10px;
  }
  .l-footer__btn {
    margin: 20px auto;
    max-width: 300px;
    background-color: #000;
    border-radius: 5px;
  }
  .l-footer__btn a {
    white-space: nowrap;
    display: block;
    width: 100%;
    line-height: 45px;
    text-decoration: none;
    color: #FFF;
    text-align: center;
    font-size: 13px;
  }
  .l-footer__arrowWhite {
    display: inline-block;
    margin: auto;
    border-top: solid 1.5px #FFF;
    border-right: solid 1.5px #FFF;
    width: 10px;
    height: 10px;
    transform: rotate(45deg);
  }
  .l-footer__copyright {
    letter-spacing: 0.3em;
    line-height: 16px;
    font-size: 8px;
  }
}/*# sourceMappingURL=sp.css.map */